<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>La tua lista_Spesa della Spesa</h1>
        {% if lista_Spesa %}
            <ul>
            {% for elemento in lista_Spesa %}
            <li>
                {{ elemento }}
                <form action="/rimuovi/{{ loop.index0 }}" method="post"
                    style="display:inline;">
                    <button type="submit">Rimuovi</button>
                </form>
            </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>La lista è vuota.</p>
        {% endif %}

    </body>
    <form action="/aggiungi" method="post">
        <input type="text" name="elemento" placeholder="Aggiungi un elemento"
        required>
        <button type="submit">Aggiungi</button>
    </form>
</html>